.App {
  text-align: center;
  background-color: rgb(19, 17, 17);
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  color: white;
  height: auto;
}

.full-page{
  width: 100%;
  height: auto;
  background-color: rgba(20, 20, 20, 0.897);
}

.second-page {
  background-color: rgba(20, 20, 20, 0.897);;
}









