@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.image-home {
    border: none;
    width: 750px;
    height: 600px;
    border-radius: 800px 300px; 
}

img {
    border: none;
}

.first-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    width: 30%;
    font-size: 69px;
    color: rgba(255, 255, 255, 0.815);
}



.word-key {
  color: rgb(175, 27, 27);
}

.second-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.card-image-styles{

    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 60%;
}

.card-counter {
    font-size: 25px;
    height: 10%;
}

.home-h2 {
    font-size: 6rem;
    height: 10%;
    font-family: 'Montserrat', sans-serif;
    
}

.card-one {
    height: 200px;
    width: 200px;
    background-color: white;
}

.card-two {
    height: 200px;
    width: 200px;
    background-color: white;
}

.card-three {
    height: 200px;
    width: 200px;
    background-color: white;
}

.button-go-back {
    font-weight: bold;
    font-size: 40px;
    height: 70px;
    width: 70px;
    border-radius: 50px 50px ;
    border: none;
    cursor: pointer;
  }

  .button-go-back:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
  }

  .third-page {
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .invite-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
  }

  .home-h3 {
    font-size: 100px;
  }

  .invite-img-whats{
    width: 40px;
    height: 40px;
    margin: 10px;
  }

  .button-invite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid black;
    
  }

  .button-invite:hover {
    background-color: rgb(221, 218, 218);
    border-color: rgb(12, 109, 12);
  }

  .gallery-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    
  }

  .img-glr {
    height: 350px;
    width: 300px;
    margin: 15px;
    border-radius: 10px;

  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
  }

  .social-midia-icon{
    width: 60px;
    height: 60px;
    margin: 30px;
    cursor: pointer;
  }










