@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@500&family=Dosis&family=Montserrat:wght@300&family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.style-page{
    background-color: rgba(20, 20, 20, 0.897);
    color: rgb(240, 235, 235);
    height: 100%;
    font-family: 'Nunito', sans-serif;
}



ul {
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}


li {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 5%;
    margin-top: 9rem;
    margin-bottom: 1rem;
    
    
}

.cort-image {
    border-radius: 50%;
    border: 5px solid rgb(175, 27, 27);;
}

.card-style-cuts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;

}

h2 {
    font-size: 40px;
}

.style-title {
    font-family: "Dosis";
    letter-spacing: 3px;
    font-size: 60px;
}

p {
    font-size: 25px;
    
}

.style-title{
    width: 100%;
    margin-top: 7rem;
    color: rgb(175, 27, 27);
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}